# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://yjtiopfmokodgwxstijd.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlqdGlvcGZtb2tvZGd3eHN0aWpkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODEwOTI3MDAsImV4cCI6MjA5NjY2ODcwMH0.7e_ACK4YubBiA4VuPLFistMvnWdIItjMG6QIhh40HUw

# WooCommerce - Aroma de Vid
WOOCOMMERCE_URL=https://aromadevid.com.ar
WOOCOMMERCE_CONSUMER_KEY=ck_08ff32453f53695a57614344e2ee61d6d6ce6ca2
WOOCOMMERCE_CONSUMER_SECRET=cs_96e8dcb4a2ddc0a68e061b512ff6105f5831e0d9

# Auth simple (cambiá esto por algo seguro)
APP_PASSWORD=aromadevid2026
